<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    var data;
    var chart;
    var socket;

    function drawChart() {
      socket   = new WebSocket('ws://localhost:3000/price');
      socket.onopen = function (event) {
        console.log('Connected to server');
      };

      socket.onmessage = function (event) {
        var priceData = JSON.parse(event.data);

        // console.log(priceData);
        // PriceDataから価格とタイムスタンプ（またはTick IDなど）を取得し、グラフに追加
        addData(priceData.timestamp, priceData.ltp);
      };

      socket.onclose = function (event) {
        console.log('Disconnected from server');
      };

      socket.onerror = function (error) {
        console.log('Error occurred:', error);
      };
      var start = new Date();
      data = google.visualization.arrayToDataTable([
        ["date","price"],
        ['0',4000000]
        // 初期データを設定 (例えば, ['0', 0])
      ]);

      chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      var options = {
        title: 'Price Data',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      chart.draw(data, options);
      data.removeRow(0);
    }

  function addData(tick, price) {
    var dateTick = new Date(tick);
    if (isNaN(dateTick)) { // 日付が無効な場合は処理を中断
      console.log('無効な日付です:', tick);
      return;
    }
    var formattedDate = ("00"+dateTick.getHours()).slice(-2)+":"+("00"+dateTick.getMinutes()).slice(-2)+":"+("00"+dateTick.getSeconds()).slice(-2); 
    if (data.getNumberOfRows() > 200) {
      data.removeRow(0);
    }
    console.log(formattedDate+":"+price)
    data.addRow([formattedDate, price]); // フォーマット済みの日付を使用
    chart.draw(data, null);
  }


  window.addEventListener('beforeunload', function (event) {
    socket.close();
  });

  </script>
</head>

<body>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>

</html>